/* Large heading style */
.h1-big {
	font-size: clamp(36px, 2.5vw + 1rem, 70px);
	font-weight: 700;
	letter-spacing: -2px;
	text-align: left;
}

/* Main heading style */
.h1 {
	font-size: clamp(41px, 2vw + 1rem, 55px);
}

/* Subheading style */
.h2 {
	font-size: clamp(30px, 1.2vw + 1rem, 42px);
	letter-spacing: -2px;
}

/* Tertiary heading style */
.h3 {
	font-size: clamp(24px, 1vw + 0.7rem, 32px);
	letter-spacing: -1px;
	line-height: 1.4;
}

/* Quaternary heading style */
.h4 {
	font-size: clamp(18px, 0.8vw + 0.7rem, 28px);
}

/* Quinary heading style */
.h5 {
	font-size: clamp(16px, 0.6vw + 0.6rem, 24px);
}

/* Senary heading style */
.h6 {
	font-size: clamp(14px, 0.4vw + 0.55rem, 18px);
}

/* Main body text style */
.body-1 {
	font-size: clamp(14px, 1vw + 2px, 20px);
	line-height: 1.6;
}

/* Secondary body text style */
.body-2 {
	font-size: clamp(12px, 1.1vw, 18px);
	line-height: 1.5;
}

/* Label text style */
.label {
	font-size: clamp(12px, 1vw, 18px);
}

/* Button style */
.button {
	padding: max(10px, 0.8rem) 2.4rem;
	background-color: var(--yellow);
	color: #fff;
	font-size: clamp(13px, 1.2vw, 22px);
	transition: background-color 0.3s, color 0.3s;
	font-weight: 700;
}

/* Button focus state */
.button:focus {
	outline-color: white;
	outline-offset: 3px;
}

/* Button hover state */
.button:hover {
	background-color: #fff;
	color: var(--black);
}

.cap-1 {
	font-family: var(--font-inter);
	font-size: clamp(14px, 0.4vw + 0.55rem, 18px);
	font-weight: 600;
	letter-spacing: 3px;
}

.cap-3 {
	font-family: var(--font-inter);
	font-size: clamp(14px, 0.4vw + 0.55rem, 18px);
	font-weight: 900;
	letter-spacing: 3px;
}
